$c-black: #000000;
$c-gray: #efeee9;
$c-white: #ffffff;
//'Roboto', sans-serif:  'Roboto Slab', serif
*, *:after, *:before{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4rem;
    min-width: 320px;
    background: $c-gray;
}

h1, h2, h3, h4, h5, h6, figure{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}


@mixin vh-absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


.navigation{
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    color: $c-black;
    letter-spacing: 4px;
    height: 181px;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: .4s ease;
    box-shadow: 0px 1px 7px 0px #555;
    .desktop__nav > ul, .mobile__nav > ul{
            list-style: none;
            display: flex;
            align-items: flex-end;
    }
}
.desktop__nav, .mobile__nav{
        li{
            padding: 0 25px;
            a{
                text-decoration: none;
                color: inherit;
                text-transform: uppercase;
            }
            &.brand{
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 8px;
            }
        }
}

.main{
    height: 100%;
    font-weight: 100;
    padding-top: 181px;
    background: url('../img/header_bg.png') no-repeat;
    background-size: cover;
    position: relative;
    p{
        position: absolute;
        width: 40%;
        bottom: 5%;
        right: 10%;
        font-size: 2.3rem;
        line-height: 2.3rem;
        @media screen and (max-width: 1199px){
            width: 60%;
        }
        @media screen and (max-width: 767px){
            width: 70%;
            font-size: 1.8rem;
        }
        @media screen and (max-width: 543px){
            width: 90%;
            font-size: 1.6rem;
        }
        text-align: right;
    }
}

.blog{
    display: flex;
    justify-content: center;
    .container{
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 160px 0;
        @media screen and (max-width: 767px){
            margin: 120px 0;
        }
        @media screen and (max-width: 544px){
            margin: 0;
        }
    }
    article{
        background: $c-white;
        text-align: center;
        padding: 120px 30px;
        @media screen and (max-width: 1199px){
            width: 767px;
        }
        @media screen and (max-width: 767px){
            width: 544px;
        }
        @media screen and (max-width: 544px){
            width: 100%;
        }
        h2{
            font-family: 'Roboto Slab';
            font-weight: 100;
            font-size: 2.5rem;
            line-height: 2.2rem;
            margin-bottom: 80px;
            @media screen and (max-width: 767px){
                font-size: 2rem;
                line-height: 2.1rem;
            }
        }
        p{
            margin: 20px 0;
            text-align: left;
            font-weight:300;
            font-size: 1.3rem;
            line-height: 1.7rem;
            @media screen and (max-width: 1199px){
                font-size: 1.2rem;  
            }   
            @media screen and (max-width: 767px){
    
                font-size: 1.1rem;
                line-height: 1.6rem;
            }
            @media screen and (max-width: 544px){
        
                font-size: 1.1rem;
                line-height: 1.4rem;
            }
        }
        .btn{
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            color: $c-black;
            padding: 15px 40px;
            margin-top: 30px;
            border: 2px solid $c-black;
            @media screen and (max-width: 544px){
                font-size: 1.3rem;
                padding: 10px 20px;
            }
        }
    }
}

.portfolio{
    background: $c-black;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    .img{
        flex: 1 0 33.3%;
        @media screen and ( max-width: 1199px){
            flex-basis: 50%;
        }
        @media screen and ( max-width: 767px){
            flex-basis: 100%;
        }
        position: relative;
        text-decoration: none;
        color: $c-gray;
        overflow: hidden;
        transition: 0.6s ease;
        &:hover{
            img{
                opacity: 0.6;
                transform: scale(1.1);
            }
            span{
                display: inline-block;
            }
        }
        img{
        transition: 0.6s ease;
            display: block;
            min-width: 100%;
            height: auto;
        }
        span{
            @include vh-absolute-center;
            display: none;
        }
    }
}


.quote{
    text-align: center;
    color: #555;
    margin: 160px 0;
    p{
        font-weight: 100;
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0 auto;
        @media screen and (max-width: 1199px){
            width: 70%;
            font-size: 1.8rem;
        }
        @media screen and (max-width: 767px){
            width: 90%;
            font-size: 1.8rem;
            line-height: 2rem;
        }
        @media screen and (max-width: 544px){
            width: 100%;
            font-size: 1.4rem;
            line-height: 1.6rem;
        }
    }
}

.about{
    display: flex;
    flex-flow: row wrap;
    background: $c-white;
    *{
        flex: 1 0 50%;
    }
    @media screen and (max-width: 767px){
        flex-direction: column;
    }

    &__content{
        background: $c-white;
        font-weight: 100;
        display: flex;
        align-items: center;
        padding: 40px 40px 40px 100px;
        ul{
            max-width: 400px;
            list-style: none;
            li+li{
                margin-top: 40px;
            }    
        }
        h3{
            font-size: 1.4rem;
            letter-spacing: 5px;
            font-weight: 100;
            text-transform: uppercase;
        }
        p{
            font-size: 1.1rem;
            line-height: 1.8rem;
        }
    }
}

.articles{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 120px 0 75px 0;
    article{
        background: $c-white;
        padding: 60px;
        margin-bottom: 45px;
        text-align: center;
        &:hover{
            box-shadow: 0 0 3px 1px #ddd;
        }
        h3{
            font-size: 1.3rem;
            margin-bottom: 3rem;
        }
        p{
            font-weight: 300;
            font-size: 1.1rem;
            margin-bottom: 2.5rem;
        }
        .link{
            color: #6495ed;
            &:hover{
                color: #3465cd;
            }
        }
    }
    .article-outer{
        padding: 0 15px;
        flex: 1 0 380px;
    }
}

footer{
    .container{
        height: 100px;
        padding: 30px;
        color: #555;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 544px){
            flex-direction: column;
            .copy{ padding: 15px;}
        }
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                font-size: 2rem;
                color: #555;
            }
        }
        li+li{
            margin-left: 10px;
        }
    }
}

figure{
    display: flex;

}

.contact{
    background: #444;
    color: $c-white;
    .container{
        display: flex;
        *{
            flex: 1 0 50%;   
        }
        @media screen and (max-width: 991px){
            flex-direction: column;
            padding-bottom: 30px;
        }
    }
    &__info{
        padding: 60px  0 60px 30px;
        p{
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.8rem;
            width: 80%;
        }
        h4{
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
        span{
            display: block;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 30px;    
        }
    }
}
// RWD CLASS
.img{
     display: block;
     max-width: 100%;
     height: auto;
}

.mobile{
    &__nav{
        display: none;

    }
    &__push{
        cursor: pointer;
        &:hover{
            color: #777;
        }
    }
    &__menu{
        position: absolute;
        transition: 1.5s ease;
        top: 200px;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 150px;
        li{
            background: white;
            //float:right;
            margin-bottom: 15px;
            box-shadow: 0 0 2px 2px $c-gray;
           padding: 10px ;
           transition: .3s ease;
           &:hover{
               padding-right: 40px;
           }
           &#closeMenu{
                cursor: pointer;
           }
        }
    }
}

.mobile__menu--hide{
    width: 0;
    right: -150px;
}

header{
    position: relative;
}

.hide{
    display: none !important;
    @media screen and ( max-width: 767px ){
        &--sm{
            display: none;
        }
    }
    @media screen and ( max-width: 1199px ){
        &--md{
            display: none;
        }
    }
}

.show{
    @media screen and ( max-width: 767px ){
        &--sm{
            display: block;
        }
    }
}

.container{
    margin: 0 auto;
    width: 70%;
    @media screen and ( max-width: 1199px ){
        width: 80%;
    }
    @media screen and ( max-width: 767px ){
        width: 90%;
    }
    @media screen and ( max-width: 544px ){
        width: 100%;
    }
}