
@mixin background-image($a, $b){
  background-color: $a; /* fallback color if gradients are not supported */
  background: -webkit-gradient(linear, left top, left bottom, from($a), to($b));
  background: -webkit-linear-gradient(top, $a, $b); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background:    -moz-linear-gradient(top,$a, $b); /* For Firefox (3.6 to 15) */
  background:      -o-linear-gradient(top,$a, $b); /* For old Opera (11.1 to 12.0) */ 
  background:         linear-gradient(to bottom,$a, $b); /* Standard syntax; must be last */
}

.img-responsive{
    display: block;
    width: 100%;
    height: auto;
}

*, *:after, *:before{
    box-sizing: border-box;
}

.clearfix{
    content:'';
    display:block;
    clear:both;
}

body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Titillium Web', sans-serif;
    color: #a5a5a5;
}

.wrap{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 35px;
    figure{
        text-align: center;
        img{
            opacity: 0.3;
        }
    }
}

.fa{
    width: 30px;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 20px 0 20px;
}

.box{
    min-width: 320px;
    max-width: 470px;
    margin-bottom: 40px;
    h2{
        text-shadow: 0 0 2px black;
        text-indent: -22px;
        margin-top: 0px;
        color: #fff;
        font-size: 1.8rem;
        line-height: 1.8rem;
        letter-spacing: 1px;
        text-align: center;
    }
    &__outer{
        background: rgba(0,0,0,0.20);
        padding: 17px;
        border-radius: 4px;
    }
    &__inner{
        background: #f2f2f2;
        padding: 20px;
        border-radius: 4px;
    }
}

.form-group{
    display: flex;
    align-content: center;
    width: 100%;
    height:auto;
    padding: 3px 13px;
    margin-bottom: 20px;
    color: #c4c4c4;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    @include background-image(#f6f6f6,#e7e7e7);
    position: relative;
    i{
       text-align: center;
    }
    &__line:after{
        position: absolute;
        left: 42px;
        content: "";
        width:1px;
        min-height: 32px;
        margin: 0 15px;
        background:  #c4c4c4;
    }

    select,input{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: none;
        border: none;
        color: #aaa;
        width: 100%;
        height: 100%;
        padding-left: 65px;
    }
    input::-webkit-input-placeholder{
       color: #a5a5a5;
       font-size: 1rem;
    }
    input:-moz-placeholder{
       color: #a5a5a5;
       font-size: 1rem;
    }
    input[placeholder]{
       color: #a5a5a5;
       font-size: 1rem;
    }
    select{
        font-size: 1rem;
        z-index: 100;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    i.select{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

}
    textarea{
        margin-bottom: 20px;
        @include background-image(#f6f6f6,#e7e7e7);
        border: 1px solid #c4c4c4;
        border-radius: 4px;
        width: 100%;
        padding: 15px;
        color: #a5a5a5;
        font-family: 'Titillium Web', sans-serif;
    }


button{
    width: 100%;
    margin-top: 20px;
    border-radius: 3px;
    padding: 10px;
    color: #fff;
    font-size: 1.5rem;
    cursor:pointer;
    text-shadow: 0 0 3px black;
    &.sm{
        padding: 4px;
        font-size: 1.2rem;
    }
}
.button-panel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{ 
        width: 47%;
    }
}

button.confirm{
    @include background-image(#a2d642,#80c421);
    border: 1px solid #3b9900;
}

button.confirm:hover{
    background: #80c421;
}
button.decline{
    @include background-image(#f5717e,#eb3b43);
    border: 1px solid #a12029;
}

button.decline:hover{
    background: #eb3b43;
}
button.done{
    @include background-image(#cde3b1,#acd182);
    border: 1px solid #92c96f;
}

button.done:hover{
    background: #acd182;
}

form > .form-group:last-of-type{
    margin-bottom: 0;
}

.checkbox{
    display: flex;
    align-items: center;
}

.checkbox label{
    min-width: 30px;
    min-height: 30px;
    background: #f2f2f2;
    margin-right: 20px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    position: relative;
}
.checkbox input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.checkbox span{
    display: inline-block;
    min-width:18px;
    min-height:18px;
    border-radius: 4px;
    text-indent: 35px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    cursor: pointer;
    background: #f4f4f4;
 }


input[type=checkbox]:checked + label > span{
    @include background-image(#a2d642,#80c421);
}

.main-logo{
    max-width: 430px;
}

.footer-logo{
    max-width: 360px;
}


@media (max-width: 360px){
    .col{
        padding: 0;
    }
}